
// Java Processing code
// a set of global functions that receive messages from 
// gui components, repeated for each 'channel' 
// each channel has a channelBar that has components on it
// this is like a global switch function
// each of these simply calls the widgets 

// controls that I know of return int but some may use float
// and some settings need to be float SO by convention always send float
// soundSetting(string typeOfSetting, int channel, float newValue)
//


{% for c in range(0,16)  %}
/////  CHANNEL {{c}}

void gainChangeControl{{c}}(int n) {
  w_sonify.soundSetting("gain", {{c}}, (float) n);
}

void freqChangeControl{{c}}(int n) {
  println("freq change {{c}} returned " + n);
  w_sonify.soundSetting("frequency", {{c}}, (float) n);
}

void thresholdChangeControl{{c}}(int n) {
  println("threshold change {{c}} returned " + n);
  w_sonify.soundSetting("threshold", {{c}}, (float) n);
}

void thresholdTextControl{{c}}(String s){
  println("threshold input {{c}} returned " + s);

    try
    {
      float f = Float.valueOf(s.trim()).floatValue();
      w_sonify.soundSetting("threshold", {{c}}, f );  
    }
    catch (NumberFormatException nfe)
    {
      System.out.println("NumberFormatException: " + nfe.getMessage());
    }

  // previous version of this code which uses Float.parse(String) which processing doesm't have
  // float floatValue = Float.parse(t);  // convert String to float
                                      //  returns NaN is not a number
  // if (floatValue == floatValue){       // this tests for NaN in Java
    // only invoke callback if the text field is a number
    //w_sonify.soundSetting("threshold", {{c}}, floatValue );
 // }
}

{% endfor %}
