
// Java Processing code
// a set of global functions that receive messages from 
// gui components, repeated for each 'channel' 
// each channel has a channelBar that has components on it
// this is like a global switch function
// each of these simply calls the widgets 

// controls that I know of return int but some may use float
// and some settings need to be float SO by convention always send float
// soundSetting(string typeOfSetting, int channel, float newValue)
//


{% for c in range(0,16)  %}
/////  CHANNEL {{c}}

void gainChangeControl{{c}}(int n) {
  w_sonify.soundSetting("gain", {{c}}, (float) n);
}

void freqChangeControl{{c}}(int n) {
  println("freq change {{c}} returned " + n);
  w_sonify.soundSetting("frequency", {{c}}, (float) n);
}

{% endfor %}
